@model MyLibraryMVC.Application.ViewModels.Castegory.ListCategoryVm

@{
	ViewData["Title"] = "ListCategory";
}

<h1>ListCategory</h1>

<p>
	<a asp-action="AddCategory">Dodaj nową kategorię</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>Liczba porządkowa</th>
			<th>Nazwa kategorii</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Categories)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>

				<td>
					@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
					@Html.ActionLink("Usuń kategorię", "DeleteCategory", new { id = item.Id })
				</td>
			</tr>
		}
	</tbody>
</table>
