@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a href="@Url.Action("BookIndex","Book")">Wykaz książek</a>
    </p>
    <p>
        <a href="@Url.Action("AddBook","Book")">Dodaj książkę</a>
    </p>
    <p>
        <a href="@Url.Action("FindBook","Book")">Wyszukaj książkę</a>
    </p>
    <p>
        <a href="@Url.Action("LoanIndex","Loan")">Lista wypożyczeń książkę</a>
    </p>
</div>
