@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
	<p>
		<a href="@Url.Action("IndexBook","Book")">Wykaz książek</a>
	</p>
	<p>
		<a href="@Url.Action("BookDetails","Book")">Szczegóły</a>
	<p>
		<a href="@Url.Action("AddBook","Book")">Dodaj książkę</a>
	</p>
</div>
